.container {
    @include flex-direction-justify (flex, row, space-between);
    width: 100%;
    min-height: 100vh;
}

.wrapper {
    width: 80%;
    min-height: 80vh;
    margin: auto;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    @media screen and (min-width: 1440px) {
        width: 1240px;
    }

    @media screen and (max-width: 1024px) {
        width: 90%;
    }

    @media screen and (max-width: 740px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin-top: 1rem;
    }
}

.container.about {
    background-color: $tan-300-jl;
    background-image: url('../assets/svg/about-jesslev.svg');
    background-size: cover;
}

.container.work {
    background-color: $red-300-jl;
    background-image: url('../assets/svg/work-jesslev.svg');
    background-size: cover;
}

.container.contact {
    background-color: $blue-300-jl;
    background-image: url('../assets/svg/contact-jesslev.svg');
    background-size: cover;
}