.navigation-wrapper {
    @include flex-direction-justify (flex, column, space-between);

    min-height: 80vh;
    max-width: 230px;
    overflow: scroll;
    z-index: 1;
    position: relative;
    left: 1.5rem;

    @media screen and (max-width: 1024px) {
        min-height: 80vh;
    }

    @media screen and (max-width: 740px) {
        flex-direction: row;
        max-width: 100%;
        justify-content: space-between;
        min-height: 0;
        left: 0;
    }

    .logo {
        padding-top: 4rem;
        padding-left: 0;
        font-family: 'Baloo Thambi';

        a {
            font-size: 32px;
            color: $red-300-jl;

            @include a-tag ();
        }

        @media screen and (max-width: 740px) {
            flex: 1;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    .navigation {
        padding-bottom: 4rem;
        padding-left: 0;

        @include ul-tag ();

        .nav-tab {
            font-family: 'Baloo Thambi';
            color: $red-300-jl;

            @include li-tag ();

            a {
                @include a-tag ();
            }

            @media screen and (max-width: 740px) {
                display: inline-block;
            }
        }

        .nav-tab.active {
            a {
                font-size: 24px;
            }
        }

        @media screen and (max-width: 1024px) {
            padding-bottom: 0;
        }

        @media screen and (max-width: 740px) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
}