// COLORS
$black: #000000;
$white: #FFFFFF;

$red-jl: #d1423c;
$green-jl: #2e5332;
$blue-jl: #285ab7;
$yellow-dark-jl: #f3c043;
$yellow-light-jl: #fcf3df;
$pink-jl: #dfa5a5;
$tan-jl: #f4efe9;


// FONTS
$font-baloo: 'Baloo Thambi', cursive;
$font-montserrat: 'Montserrat', sans-serif;