* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
}

.navigation-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
  max-width: 230px;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 10rem;
}
@media screen and (max-width: 1024px) {
  .navigation-wrapper {
    min-height: 80vh;
    left: 1rem;
  }
}
@media screen and (max-width: 740px) {
  .navigation-wrapper {
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    min-height: 0;
  }
}
.navigation-wrapper .logo {
  padding-top: 4rem;
  padding-left: 0;
  font-family: "Baloo Thambi";
  cursor: pointer;
}
.navigation-wrapper .logo a {
  font-size: 32px;
  color: #d1423c;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 740px) {
  .navigation-wrapper .logo a {
    font-size: 16px;
  }
}
.navigation-wrapper .logo a:hover {
  color: #a3322e;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 740px) {
  .navigation-wrapper .logo {
    flex: 1;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.navigation-wrapper .navigation {
  padding-bottom: 4rem;
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.navigation-wrapper .navigation .nav-tab {
  font-family: "Baloo Thambi";
  color: #d1423c;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  display: block;
}
@media screen and (max-width: 740px) {
  .navigation-wrapper .navigation .nav-tab {
    font-size: 14px;
  }
}
.navigation-wrapper .navigation .nav-tab a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}
@media screen and (max-width: 740px) {
  .navigation-wrapper .navigation .nav-tab a {
    font-size: 14px;
  }
}
@media screen and (max-width: 740px) {
  .navigation-wrapper .navigation .nav-tab {
    display: inline-block;
    padding-left: 12px;
  }
}
@media screen and (max-width: 400px) {
  .navigation-wrapper .navigation .nav-tab {
    padding-left: 5px;
  }
}
.navigation-wrapper .navigation .nav-tab:hover {
  color: #a3322e;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1024px) {
  .navigation-wrapper .navigation {
    padding-bottom: 20;
  }
}
@media screen and (max-width: 740px) {
  .navigation-wrapper .navigation {
    margin-left: 5rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .navigation-wrapper .navigation {
    margin-left: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  width: 80%;
  min-height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
}
@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1240px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 740px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5.5rem;
  }
}

.container.about {
  background-color: #f4efe9;
  background-image: url("../assets/svg/about-jesslev.svg");
  background-size: cover;
}

.container.contact {
  background-color: #285ab7;
  background-image: url("../assets/svg/contact-jesslev.svg");
  background-size: cover;
}

.main-content {
  max-width: 1024px;
  margin-top: 10rem;
  position: relative;
  left: 8rem;
}
@media screen and (max-width: 1240px) {
  .main-content {
    max-width: 80%;
  }
}
@media screen and (max-width: 740px) {
  .main-content {
    margin-top: 0;
    left: 0;
    max-width: 100%;
  }
}
.main-content .visible {
  display: block;
  visibility: visible;
}
.main-content .content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.main-content .content-container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  min-height: 83vh;
  background-color: white;
  border-radius: 2px;
}
.main-content .content-container .image-content {
  width: 40%;
}
.main-content .content-container .image-content .nav-tab-image .nav-tab-text {
  opacity: 0;
  transition: 0.5s ease;
  position: absolute;
  text-decoration: none;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 600;
}
.main-content .content-container .image-content .nav-tab-image .nav-tab-text.left {
  left: 27%;
}
.main-content .content-container .image-content .nav-tab-image .nav-tab-text.right {
  right: 3%;
}
.main-content .content-container .image-content .nav-tab-image .nav-tab-text.digital {
  top: 23%;
  left: 26%;
  color: #a43c1f;
}
.main-content .content-container .image-content .nav-tab-image .nav-tab-text.paintings {
  top: 23%;
  right: 4%;
  color: #202534;
}
.main-content .content-container .image-content .nav-tab-image .nav-tab-text.animations {
  top: 75%;
  left: 27%;
  color: #f07801;
}
.main-content .content-container .image-content .nav-tab-image .nav-tab-text.ripe {
  top: 75%;
  right: 16%;
  color: #8a1176;
}
.main-content .content-container .image-content img {
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}
.main-content .content-container .image-content video {
  width: 100%;
  height: 100%;
}
.main-content .content-container .worknav-tab:hover .nav-tab-text {
  opacity: 1;
}
.main-content .content-container .worknav-tab:hover img {
  opacity: 0.3;
}
.main-content .content-container .text-content {
  width: 50%;
}
.main-content .content-container .hidden {
  display: none;
  visibility: hidden;
}
.main-content .content-container .visible {
  visibility: visible;
  display: flex;
}

.svg-yellow-squiggle {
  position: absolute;
  top: -4%;
  right: 46%;
  width: 23%;
  height: 59px;
  transform: rotate(10deg);
  display: none;
  visibility: hidden;
}
.svg-yellow-squiggle img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1240px) {
  .svg-yellow-squiggle {
    top: -6%;
    right: 26%;
  }
}
@media screen and (max-width: 740px) {
  .svg-yellow-squiggle {
    display: none !important;
    visibility: hidden !important;
  }
}

.svg-half-full-circle {
  position: absolute;
  top: 80%;
  right: 0;
  width: 23%;
  height: 110px;
  transform: rotate(10deg);
  display: none;
  visibility: hidden;
}
.svg-half-full-circle img {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1240px) {
  .svg-half-full-circle {
    top: 83%;
    width: 17%;
    right: -30px;
    transform: rotate(40deg);
  }
}
@media screen and (max-width: 970px) {
  .svg-half-full-circle {
    top: 63%;
    right: 0;
  }
}
@media screen and (max-width: 740px) {
  .svg-half-full-circle {
    display: none !important;
    visibility: hidden !important;
  }
}

#about-page {
  min-height: 0;
}
@media screen and (width: 1024px), screen and (height: 1366) {
  #about-page {
    flex-direction: column;
  }
}
@media screen and (max-width: 970px) {
  #about-page {
    flex-direction: column;
  }
}
#about-page .image-content {
  width: 60%;
  max-height: 90vh;
  padding-top: 6rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  flex: 1;
}
@media screen and (max-width: 1240px) {
  #about-page .image-content {
    width: 130%;
    margin: 0 auto;
    padding: 2rem;
  }
}
@media screen and (width: 1024px), screen and (height: 1366) {
  #about-page .image-content {
    width: 80%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 970px) {
  #about-page .image-content {
    width: 80%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 540px) {
  #about-page .image-content {
    width: 100%;
    padding-bottom: 0;
  }
}
#about-page .text-content {
  width: 40%;
  padding-top: 5.5rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  flex: 1;
}
#about-page .text-content h2 {
  font-size: 38px;
  font-family: "Montserrat";
  padding-bottom: 1rem;
}
@media screen and (max-width: 540px) {
  #about-page .text-content h2 {
    font-size: 32px;
  }
}
#about-page .text-content p {
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 24px;
}
@media screen and (max-width: 540px) {
  #about-page .text-content p {
    font-size: 12px;
  }
}
@media screen and (max-width: 1240px) {
  #about-page .text-content {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (width: 1024px), screen and (height: 1366) {
  #about-page .text-content {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 970px) {
  #about-page .text-content {
    width: 80%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 540px) {
  #about-page .text-content {
    width: 100%;
    padding-top: 0.25rem;
  }
}

#work-page {
  flex-direction: column;
}
#work-page .portfolio-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#work-page .portfolio-content img {
  padding: 0.5rem;
}

.navigation-wrapper.contact .logo a {
  color: #dfa5a5;
}
.navigation-wrapper.contact .navigation .nav-tab {
  color: #dfa5a5;
}
.navigation-wrapper.contact .navigation .nav-tab.active a {
  font-size: 24px;
}
@media screen and (max-width: 540px) {
  .navigation-wrapper.contact .navigation .nav-tab.active a {
    font-size: 18px;
  }
}

#contact-page {
  min-height: 0;
  background-color: #fbedc8;
}
@media screen and (max-width: 770px) {
  #contact-page {
    flex-direction: column;
  }
}
@media screen and (width: 1024px), screen and (height: 1366) {
  #contact-page {
    flex-direction: column;
  }
}
@media screen and (max-height: 420px) {
  #contact-page {
    flex-direction: row;
  }
}
#contact-page .image-content {
  width: 100%;
  flex: 1;
}
@media screen and (max-width: 1240px) {
  #contact-page .image-content {
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (width: 1366px), screen and (height: 1024px) {
  #contact-page .image-content {
    margin: 0 auto;
    width: 70%;
  }
}
@media screen and (max-width: 970px) {
  #contact-page .image-content {
    width: 100%;
  }
}
#contact-page .text-content {
  padding-top: 10rem;
  padding-right: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  flex: 1;
}
#contact-page .text-content p {
  font: 24px;
  font-family: "Montserrat";
  font-style: bold;
  line-height: 24px;
  color: #d1423c;
  margin-bottom: 2rem;
}
@media screen and (max-width: 540px) {
  #contact-page .text-content p {
    font-size: 18px;
  }
}
@media screen and (max-width: 410px) {
  #contact-page .text-content p {
    font-size: 14px;
  }
}
#contact-page .text-content p a {
  text-decoration: none;
  color: inherit;
}
#contact-page .text-content p a:hover {
  color: #a3322e;
  transition: ease-in-out 0.5s;
}
@media screen and (max-width: 1240px) {
  #contact-page .text-content {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (width: 1366px), screen and (height: 1024px) {
  #contact-page .text-content {
    margin: 0 auto;
    padding-top: 2rem;
  }
}
@media screen and (width: 1024px), screen and (height: 1366) {
  #contact-page .text-content {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 970px) {
  #contact-page .text-content {
    width: 80%;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 540px) {
  #contact-page .text-content {
    width: 100%;
    padding-top: 0.25rem;
    margin-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.ripe-border {
  height: 100%;
  border: 4px solid red;
  margin: 2rem;
}
.ripe-border .ripe-row {
  height: 400px;
}

/*# sourceMappingURL=main.css.map */
