.main-content {
    max-width: 1024px;
    margin-top: 10rem;

    position: relative;
    left: 8rem;

    @media screen and (max-width: 1240px) {
        max-width: 80%;
    }

    @media screen and (max-width: 740px) {
        margin-top: 0;
        left: 0;
        max-width: 100%;
    }

    .visible {
        display: block;
        visibility: visible;
    }

    .content-container {
        @include flex-direction-justify(flex, row, space-between);
        width: 100%;

        .content {
            @include flex-direction-justify(flex, row, space-evenly);

            width: 100%;
            min-height: 83vh;
            background-color: white;
            border-radius: 2px;
        }

        .image-content {
            width: 40%;

            @media screen and (max-width: 740px) {
                width: 50%;
            }

            .nav-tab-image {
                .nav-tab-text {
                    opacity: 0;
                    transition: 0.5s ease;

                    position: absolute;
                    text-decoration: none;

                    transform: translate(-50%, -50%);
                    text-align: center;

                    font-family: "Montserrat";
                    font-size: 48px;
                    font-weight: 600;
                }

                .nav-tab-text.left {
                    left: 27%;
                }

                .nav-tab-text.right {
                    right: 3%;
                }

                .nav-tab-text.digital {
                    top: 23%;
                    left: 26%;
                    color: #a43c1f;

                    @media screen and (max-width: 1024px) {
                        font-weight: 600;
                        top: 33%;
                        left: 26%;
                        color: #a43c1f;
                        font-size: 24px;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 18px;
                    }
                }

                .nav-tab-text.paintings {
                    top: 23%;
                    right: 4%;
                    color: #202534;

                    @media screen and (max-width: 1024px) {
                        font-weight: 600;
                        top: 33%;
                        right: 4%;
                        color: #202534;
                        font-size: 24px;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 18px;
                    }
                }

                .nav-tab-text.animations {
                    top: 75%;
                    left: 27%;
                    color: #f07801;

                    @media screen and (max-width: 1024px) {
                        font-weight: 600;
                        top: 65%;
                        left: 27%;
                        color: #f07801;
                        font-size: 24px;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 18px;
                    }
                }

                .nav-tab-text.ripe {
                    top: 75%;
                    right: 16%;
                    color: #8a1176;

                    @media screen and (max-width: 1024px) {
                        font-weight: 600;
                        top: 65%;
                        right: 16%;
                        color: #8a1176;
                        font-size: 24px;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 18px;
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                transition: 0.5s ease;
            }

            video {
                width: 100%;
                height: 100%;
            }
        }

        .worknav-tab:hover .nav-tab-text {
            opacity: 1;
        }

        .worknav-tab:hover img {
            opacity: 0.3;
        }

        .text-content {
            width: 50%;
        }

        .hidden {
            display: none;
            visibility: hidden;
        }

        .visible {
            visibility: visible;
            display: flex;
        }
    }
}
