.navigation-wrapper {
    @include flex-direction-justify(flex, column, space-between);

    min-height: 80vh;
    max-width: 230px;
    z-index: 1;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 10rem;

    @media screen and (max-width: 1024px) {
        min-height: 80vh;
    }

    @media screen and (max-width: 740px) {
        flex-direction: row;
        max-width: 100%;
        justify-content: space-between;
        min-height: 0;
        position: relative;
    }

    .logo {
        padding-top: 4rem;
        padding-left: 0;
        font-family: "Baloo Thambi";
        cursor: pointer;

        a {
            font-size: 32px;
            color: $red-300-jl;
            cursor: pointer;

            @include a-tag();

            @media screen and (max-width: 540px) {
                font-size: 24px;
            }

            &:hover {
                color: #a3322e;
                transition: ease-in-out 0.5s;
            }
        }

        @media screen and (max-width: 740px) {
            flex: 1;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    .navigation {
        padding-bottom: 4rem;
        padding-left: 0;

        @include ul-tag();

        .nav-tab {
            font-family: "Baloo Thambi";
            color: $red-300-jl;
            cursor: pointer;
            text-decoration: none;
            font-size: 24px;

            @include li-tag();

            a {
                @include a-tag();
                cursor: pointer;

                @media screen and (max-width: 540px) {
                    font-size: 14px;
                }
            }

            @media screen and (max-width: 740px) {
                display: inline-block;
            }

            &:hover {
                color: #a3322e;
                transition: ease-in-out 0.5s;
            }
        }

        .nav-tab.active {
            a {
                font-size: 24px;

                @media screen and (max-width: 540px) {
                    font-size: 18px;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            padding-bottom: 0;
        }

        @media screen and (max-width: 740px) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
}
