// --------------------------------------------------
// sass --watch styles/sass/main.scss:styles/main.css
// --------------------------------------------------

// BODY 
* {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

// BASE
@import "base/variables";
@import "base/mixins";


// COMPONENTS
@import "components/navigation";
@import "components/container";
@import "components/main-content";


