// -------------------------------------------------- 
// COLORS
// --------------------------------------------------
$black: #000000;
$white: #FFFFFF;

// RED
$red-300-jl: #d1423c;

// GREEN
$green-300-jl: #2e5332;

// BLUE
$blue-300-jl: #285ab7;

// PINK
$pink-300-jl: #dfa5a5;

// TAN
$tan-300-jl: #f4efe9;

// YELLOW
$yellow-300-jl: #f3c043;
$yellow-100-jl: #fcf3df;

// -------------------------------------------------- 
// FONTS
// ---------------------------------------------------
$font-baloo: 'Baloo Thambi', cursive;
$font-montserrat: 'Montserrat', sans-serif;