#about-page {
    @media screen and (width: 1024px), screen and (height: 1366) {
        flex-direction: column;
    }

    @media screen and (max-width: 970px) {
        flex-direction: column;
    }

    .image-content {
        width: 60%;
        max-height: 90vh;
        @include padding (6rem, 2rem, 2rem, 2rem);
        flex: 1;

        @media screen and (max-width: 1240px) {
            width: 130%;
            margin: 0 auto;
            padding: 2rem;
        }

        @media screen and (width: 1024px), screen and (height: 1366) {
            width: 80%;
            @include padding (2rem, 2rem, 1rem, 2rem);
        }
        @media screen and (max-width: 970px) {
            width: 80%;
            @include padding (2rem, 2rem, 1rem, 2rem);
        }

        @media screen and (max-width: 540px) {
            width: 100%;
            padding-bottom: 0;
        }
    }

    .text-content {
        width: 40%;
        @include padding (5.5rem, 2rem, 2rem, null);
        flex: 1;

        h2 {
            font-size: 48px;
            font-family: 'Montserrat';
            padding-bottom: 1rem;


            @media screen and (max-width: 540px){
                font-size: 32px;
            }
        }

        p {
            font: 24px;
            font-family: 'Montserrat';
            line-height: 24px;

            @media screen and (max-width: 540px){
                font-size: 18px;
            }
        }

        @media screen and (max-width: 1240px) {
            width: 80%;
            margin: 0 auto;
            // padding: 2rem;
        }

        @media screen and (width: 1024px), screen and (height: 1366) {
            @include padding (1rem, 2rem, 2rem, 2rem);
            margin-top: 4rem;
        }

        @media screen and (max-width: 970px) {
            width: 80%;
            @include padding (2rem, 2rem, 1rem, 2rem);
        }

        @media screen and (max-width: 540px) {
            width: 100%;
            padding-top: .25rem;
        }
    }
}